html{
    padding : 0;
    margin: 0;
    font-size: large;
}

h4, p{
    text-align: center;
}

form{
    display: grid;
    width: 60%;
    background-color: rgb(220, 230, 245);
    padding: 30px;
    margin: auto;
    grid-template-columns: 49% 20% 30%;
    grid-template-rows: 13% 13% 13% 13% 13% 20% 13%;
    grid-template-areas: 
        "soName     soSize  soDev"
        "firstName  lastName lastName"
        "role       role     role"
        "email      email     email"
        "phone      phone     phone"
        "msg        msg    msg"
        "send      send      send";
        gap: 10px;
}

.soName{
    grid-area: soName;
      background-color: rgb(220, 230, 245);
}
  
.soSize{
    grid-area: soSize;
      background-color: rgb(220, 230, 245);
}
.soDev{
    grid-area: soDev;
      background-color: rgb(220, 230, 245);
}

.firstName{
    grid-area: firstName;
      background-color: rgb(220, 230, 245);
}
  
.lastName{
    grid-area: lastName;
      background-color: rgb(220, 230, 245);
}
.role{
    grid-area: role;
      background-color: rgb(220, 230, 245);
}
.email{
    grid-area: email;
      background-color: rgb(220, 230, 245);
}
.phone{
    grid-area: phone;
      background-color: rgb(220, 230, 245);
}
.msg{
    grid-area: msg;
      background-color: rgb(220, 230, 245);
}
.send{
    grid-area: send;
    /* position: relative;
    top: 30px */
      background-color: rgb(220, 230, 245);
      height: 40%;
      width: 30%;
      margin: auto;
      margin-top: 0;
      background-color: blue;
      color: white;
}
#devNumber{
    width: 80%;
}
#size, #devNumber{
    margin-top: 1.4px;
    width: 100%;
    border: none;
    height: 2.3rem;
    border-radius: 7px;
}

@media (max-width: 1300px){
    form{
        display: grid;
        width: 60%;
        background-color: rgb(220, 230, 245);
        padding: 30px;
        margin: auto;
        grid-template-columns: 49% 49%;
        grid-template-rows: 13% 13% 13% 13% 13% 13% 20% 13%;
        grid-template-areas: 
            "soName soName"    
            "soSize  soDev"
            "firstName  lastName "
            "role       role     "
            "email      email     "
            "phone      phone     "
            "msg        msg    "
            "send      send     ";
            gap: 10px;
    }
}
@media (max-width: 835px){
    
    form{
        display: grid;
        width: 80%;
        background-color: rgb(220, 230, 245);
        padding: 30px;
        margin: auto;
        grid-template-columns: 100%;
        grid-template-rows: 9% 9% 9% 9% 9% 9% 9% 9% 18% 9%;
        grid-template-areas: 
            "soName"    
            "soSize"  
            "soDev"
            "firstName"  
            "lastName "
            "role"
            "email"
            "phone"
            "msg"
            "send";
            gap: 0px;
    }
}
    
